.flex {
  justify-content: space-evenly;
}

.cart-header{
  left: 25%;
  width: 50%
}

.biscuit-card-cart {
  text-align: center;
  margin-top: 100px;
}

.biscuit-card {
  position: static;
  text-align: center;
  width: 100px;
  height: 200px;
}

.flex-last{
  align-self: flex-end;
}

/* .btn-checkout {
  
} */