<div class="container">
    <h1>BISCUIT</h1>
    <h4 class="text-muted">GIVE YOUR PETS WHAT THEY DESERVE</h4>
    <input type="text" placeholder="Search..." [(ngModel)]="textualSearch">
</div>
<div class="container card">
    <div class="items">
        <app-item 
        *ngFor="let item of items"
        [name]= "item.name"
        [description] = "item.description"
        [productType] = "item.productType"
        [pictureURL] = "item.pictureURL"
        [price] = "item.price"
        [animalType] = "item.animalType"
        ></app-item>
    </div>
</div>


<app-item-page></app-item-page>