/* You can add global styles to this file, and also import other style files */

body {
  background-image: url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-Background-Images-10.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: space-between;
}